= form_for @product do |f|
  - if @product.errors.any?
    #error_explanation
      %h2= "#{pluralize(@product.errors.count, "error")} prohibited this product from being saved:"
      %ul
        - @product.errors.full_messages.each do |msg|
          %li= msg

  .row
    .date
      %h5 Fecha Ingreso
      = f.date_field :last_purchase_at

    .medium-6.columns
      %h5 Cantidad
      .medium-6.columns.no-padding-left
        = f.text_field :on_storage, placeholder: 'En bodega'
      .medium-6.columns.no-padding-right
        = f.text_field :on_shop, placeholder: 'En tienda'

      %h5 Precio
      .medium-6.columns.no-padding-left
        = f.text_field :purchase_price, placeholder: 'Compra'
        = f.text_field :base_price, placeholder: 'Base'
        = f.text_field :wholesale_price, placeholder: 'Al mayor'
      .medium-6.columns.no-padding-right{style: 'margin-top: 55px'}
        = f.text_field :after_tax_price, placeholder: 'Con IVA'
        = f.text_field :retail_price, placeholder: 'Al menor'

      

    .medium-6.columns
      %h5 Descripción
      = f.text_area :description, placeholder: 'Descripción producto', rows: 5
      

      .medium-6.columns.no-padding-left
        %h5 Códigos
        .input-group
          %span.input-group-label JV
          = f.text_field :shop_code, placeholder: 'Código tienda', class: 'input-group-field'
        = f.text_field :bag_code, placeholder: 'Código bolsa'
      
      .medium-6.columns.no-padding-right
        %h5 Otros
        = f.text_field :colors, placeholder: 'Colores'
        = f.text_field :sizes, placeholder: 'Tallas'
      
  .row
    .medium-6.columns.medium-offset-3
      = f.submit 'Guardar', class: 'button expanded large'
    
    