= form_for @product do |f|
  - if @product.errors.any?
    #error_explanation
      %h2= "#{pluralize(@product.errors.count, "error")} prohibited this product from being saved:"
      %ul
        - @product.errors.full_messages.each do |msg|
          %li= msg

  .row
    .date
      %h5 Fecha Ingreso
      = f.date_field :last_purchase_at, value:  Time.now.strftime("%Y-%m-%d")

    .medium-6.columns.medium-offset-3

      %h5 Códigos
      .medium-6.columns.no-padding-left
        .input-group{style: 'margin-bottom: 0px;'}
          %span.input-group-label JV
          = f.text_field :shop_code, placeholder: 'Código tienda', class: 'input-group-field'
      .medium-6.columns.no-padding-right
        = f.text_field :bag_code, placeholder: 'Código bolsa', style: 'height: 40px;'

      %h5 Cantidad
      .medium-6.columns.no-padding-left
        = f.text_field :on_storage, placeholder: 'En bodega'
      .medium-6.columns.no-padding-right
        = f.text_field :on_shop, placeholder: 'En tienda'

      %h5 Precio
      .medium-6.columns.no-padding-left
        = f.text_field :purchase_price, placeholder: 'Compra'
      .medium-6.columns.no-padding-right
        = f.text_field :base_price, placeholder: 'Base'

      %h5 Descripción
      = f.text_area :description, placeholder: 'Descripción producto', rows: 5
      
      

      %h5 Otros
      .medium-6.columns.no-padding-left
        = f.text_field :sizes, placeholder: 'Tallas'
      .medium-6.columns.no-padding-right
        = f.text_field :colors, placeholder: 'Colores'

      = f.submit 'Guardar', class: 'button expanded large'
        
    .medium-3.columns 
    / keeps layout aligned
      
  
      
    
    